.carousel {
  width: 40%;
  height: 50%;
}
.carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.carousel-img {
  width: 100%;
  border-radius: 4rem;
}
.caption {
  color: rgb(174, 219, 174);
}
.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  color: white;
}
.logo-img {
  border-radius: 50%;
  width: 8%;
  height: 8%;
  padding: 1em;
}
.home-button{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.shop-now-button{
  padding: 1rem 6rem;
  border-radius: 50px;
  font-size: 18px;
}