.carousel {
  width: 40%;
  height: 50%;
}
.carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}
.carousel-img {
  width: 100%;
  border-radius: 4rem;
}
.caption {
  color: rgb(174, 219, 174);
}
.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  color: white;
}
.logo-img {
  border-radius: 50%;
  width: 8%;
  height: 8%;
  padding: 1em;
}
.home-button{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.shop-now-button {
	color: rgb(8, 6, 128);
	text-decoration: none;
	background: #ffffff;
	padding: 1rem 5rem;
	border: 1px solid rgb(8, 6, 128);
	display: inline-block;
	transition: all 0.4s ease 0s;
  border-radius: 2rem;
  font-weight: 900;
  font-size: 1.4rem;
}

.shop-now-button:hover {
	color: #ffffff;
	background: rgb(8, 6, 128);
	transition: all 0.4s ease 0s;
  font-weight: 800;
}