.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 4rem 2rem;
  color: rgb(8, 6, 128);
}

.auth h1 {
  text-align: center;
  color: rgb(8, 6, 128);
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  color: rgb(8, 6, 128);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  outline: none;
  border: 1px solid black;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  margin-top: 0rem;
  cursor: pointer;
  font-weight: 500;
  color: rgb(8, 6, 128);
  background-color: white;
  border: 1px solid rgb(8, 6, 128);
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: rgb(8, 6, 128);
  color: white;
}
