form{
    position: relative;
    width: 20%;
    margin: auto;
    margin-top: 2em;
    padding: 3rem;
    background-color: rgb(218, 104, 161);
    border-radius: 1rem;
    box-shadow: rgb(199, 103, 191) 0px 2px 8px 0px;
    color:whitesmoke
}
.select-text{
    position: relative;
    width: 41%;
    margin: auto;
    padding: 2em;
    color: green;
}
label{
    font-size: 18px;
    padding: 5px 0                                                   ; 
}
.gender-label{
    padding: 0 8px;
}
.name{
    height: 25px;
    border: 1px solid red;
    background-color: rgb(255, 154, 154);   
}

input{
    outline: none;
    border: none;
    font-size: 18px;
}
.buttons{
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;  
}
button:disabled{
    background-color: rgb(172, 163, 163);
    color:white;
    opacity:0.5;
    cursor: not-allowed;
}

button{
  background: white;
  box-sizing: border-box;
  color: rgb(255, 105, 180);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  outline: none;
  border: 1px solid black;
}

button:hover {
  box-shadow: rgba(44, 33, 126, 0.5) 0 1px 30px;
}

@media (min-width:2560px ) {
    form{
      width: 15%;
    }
  }
  
