.whole-result{
    width: 50%;
    margin: 2rem auto;
    background-color: rgb(218, 104, 161);
    color: white;
    padding: 1rem 1rem;
    text-align: center;
}
.go-to-home-button{
   width: 8%;
   margin: auto;
}
.table{
    margin: auto;
    padding: 5rem;
    width: 50%;
    border:  1px solid rgb(218, 104, 161);
    background-color: white;
    color: rgb(218, 104, 161);
    font-weight: 500;
}
.headers{
    text-align: center;
    color: rgb(45, 158, 45);
}
td{
    padding-left: 2rem;
}
.wrong-answers{
    color: red;
}
.correct-answer{
    color: green;
}