.form {
  background-color: white;
  position: relative;
  margin: auto;
  max-width: 46%;
  box-shadow: 30px;
  border-radius: 20px;
  font-family: sans-serif;
  margin-top: 50px;
}
form {
  padding: 1em;
  font-weight: 100;
}
input {
  width: 95%;
  height: 2em;
  border-color: rgba(128, 128, 128, 0.233);
}

button {
  background-color: #671e8ff8;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
label {
  font-size: 1.5em;
  margin-bottom: 30px;
  font-weight: 800;
}
